<header class="products-header">
  <h1>Seu Carrinho</h1>
</header>

<div class="cart-container">
  <div id="cart-items"></div>

  <div class="cart-summary">
    <h2>Total: R$ <span id="cart-total">0.00</span></h2>
    <button class="checkout-btn" id="finish-btn">Finalizar Compra</button>
  </div>
</div>

<script src="/js/cart.js"></script>