<section class="banner">
  <img src="/img/apresentação.img.png" alt="Coleção Hot Wheels">
</section>

<section class="categories">
  <h2>Comprar por categorias principais</h2>

  <div class="categories-track">
    <a href="/products">
      <div class="category-card">
        <img src="/img/carro.png" alt="Veículos">
        <h3>Carrinhos</h3>
        <p>Carros clássicos, esportivos e exclusivos</p>
      </div>
    </a>

    <a href="/conjuntos">
      <div class="category-card">
        <img src="/img/pista.png" alt="Pistas">
        <h3>Conjuntos e Pistas</h3>
        <p>Pistas, loops e expansões</p>
      </div>
    </a>

    <a href="/monster-trucks">
      <div class="category-card">
        <img src="/img/monstertruck.png" alt="Monster Trucks">
        <h3>Monster Trucks</h3>
        <p>Os mais radicais da Hot Wheels</p>
      </div>
    </a>

    <a href="/novidades">
      <div class="category-card">
        <img src="/img/novidades.png" alt="Novidades">
        <h3>Novidades</h3>
        <p>Lançamentos e coleções novas</p>
      </div>
    </a>

    <a href="/colecionador">
      <div class="category-card">
        <img src="/img/colecionador.png" alt="Collector">
        <h3>Colecionador</h3>
        <p>Modelos raros e premium</p>
      </div>
    </a>
  </div>
</section>

<section class="carousel-section">
  <h2 class="carousel-title">Mais Procurados</h2>

  <div class="carousel-wrapper">
    <button class="carousel-btn" id="prev">&#10094;</button>

    <div class="carousel">
      <div class="carousel-track" id="carousel-track"></div>
    </div>

    <button class="carousel-btn" id="next">&#10095;</button>
  </div>

  <div class="carousel-dots" id="carousel-dots"></div>
</section>

<script src="/js/carousel.js"></script>