<header class="products-header">
  <h1>Monster Trucks</h1>
  <p>Potência e destruição nas pistas 🔥🚛</p>
</header>

<div class="products-content">

  <aside class="filters">
    <h3>Filtrar por Modelo</h3>

    <button data-filter="all" class="active">Todos</button>
    <button data-filter="Clássico">Clássico</button>
    <button data-filter="Temáticos">Temáticos</button>
  </aside>

  <section class="products-grid" id="monster-grid"></section>

</div>

<script src="/js/addToCart.js"></script>
<script src="/js/monster.js"></script>