<header class="products-header">
  <h1>Novidades</h1>
  <p>Confira os lançamentos mais recentes 🔥</p>
</header>

<div class="products-content">

  <aside class="filters">
    <h3>Filtrar</h3>

    <button data-filter="all" class="active">Todos</button>
    <button data-filter="Brick Shop">Brick Shop</button>
    <button data-filter="Lego">Lego</button>
    <button data-filter="Formula 1">Formula 1</button>
  </aside>

  <section class="products-grid" id="novidades-grid"></section>

</div>

<script src="/js/addToCart.js"></script>
<script src="/js/novidades.js"></script>