<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Garage Store - Compra Finalizada</title>
</head>

<body>
    <h1>Compra finalizada 🎉</h1>
    <p>Obrigado por comprar na Hot Garage Store!</p>
    <a href="/">Voltar para home</a>

</body>

</html>